.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* HEADER */

.header {
  width: 100%;
  height: 100px;
  background-color: #AB2A19;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header h1 {
  margin: 0;
  position: absolute; 
  margin: auto 0;
  left: 40px;
  top: 30px;
}

.nav-links-container {
  
}

.nav-link {
  padding: 15px;
  margin: 5px;
  background-color: rgba(255, 255, 255, 0.548);
  color: black;
  text-decoration: none;
}

.dashboard-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-wrapper {
  box-sizing: border-box;
  width: 600px;
  background-color: #D34735;
  margin-top: 25px;
  padding: 30px;
  border-radius: 7px;
}

.product-wrapper img {
  width: 390px;
}

.product-wrapper button {
  padding: 10px;
  border-radius: 7px;
  border: none;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  background-color: #3ad886;
  margin: 10px;
}

/* FORM */

.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-wrapper input {
  font-size: 16px;
}

.form {
  width: 350px;
  background-color: #3ad886;
  border-radius: 7px;
  margin: 30px auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.form button {
  background-color: #ed6b5a;
  padding: 10px;
  margin: 5px 10px;
  border-radius: 7px;
  border: none;
  font-size: 16px;
}